#container {
  display: inline-block;
  position: relative;
}

#container figcaption {
  position: absolute;
  top: 145px;
  right: 20px;
  font-size: 20px;
  color: #FF5B5B;
}
#container figcapt {
    position: absolute;
    top: 160px;
    right: 20px;
    font-size: 40px;
    color: #ffff;
  }