<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
    <h2>Registros<h2>
        <table border="1">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Telefone</td>
                    <td>Endereço</td>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(details) { %>
                    <tr>
                        <td><%= details.name %></td>
                        <td><%= details.email %></td>
                        <td><%= details.telefone %></td>
                        <td><%= details.endereço %></td>
                    </tr>
                    <% }) %>
                </tbody>
                <button><a href="/">Voltar</a></button>
    
    </body>

</html>